<div class="container">
    <h3>UPDATE EMPLOYEE</h3>
    <form #userForm="ngForm" (ngSubmit)="onUpdate(userForm.value)">
        <div class="form-group">
            <label>USER ID: </label>
            <input required minlength="1" type="number" #empIdRef="ngModel" name="id" ngModel class="form-control">
            <div *ngIf="empIdRef.errors && empIdRef.touched" class="alert alert-danger">
                <div [hidden]="!empIdRef.errors['required']">Provide User Id</div>
            </div>
        </div>
        <div class="form-group">
            <label>USER NAME: </label>
            <input required minlength="6" type="text" #empNameRef="ngModel" name="name" ngModel class="form-control">
            <div *ngIf="empNameRef.errors && empNameRef.touched" class="alert alert-danger">
                <div *ngIf="empNameRef.errors['required']">Provide User Name</div>
                <div *ngIf="empNameRef.errors['minlength']">Name should be a minimum of 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email: </label>
            <input required minlength="6" type="text" #empEmailRef="ngModel" name="email" ngModel class="form-control">
            <div *ngIf="empEmailRef.errors && empEmailRef.touched" class="alert alert-danger">
                <div *ngIf="empEmailRef.errors['required']">Provide Email</div>
                <div *ngIf="empEmailRef.errors['pattern']">Invalid Email Format</div>
            </div>
        </div>
        <input [disabled]="!userForm.valid" type="submit" value="Update User" class="btn btn-primary">
    </form>
</div>
